:root {
  --main-background: #fff;
  --main-color: #000;

  --max-width: 1440px;
  --border-radius: 12px;

  --p-border: #000;
  --s-border: #ddd;

  --p-space-1: 4px;
  --p-space-2: 8px;
  --p-space-3: 12px;
  --p-space-4: 16px;
  --p-space-5: 20px;
  --p-space-6: 24px;
  --p-space-7: 28px;
  --p-space-8: 32px;
  --p-space-9: 36px;
  --p-space-10: 40px;
  --p-space-11: 44px;
  --p-space-12: 48px;
  --p-space-13: 52px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

body {
  color: var(--main-color);
  background: var(--main-background);
}

a {
  color: inherit;
  text-decoration: none;
}
