.container {
  display: flex;
  padding: 16px 0 0;
  flex-direction: column;
}

.searchTexts {
  margin-bottom: var(--p-space-4);
  display: flex;
  flex-direction: column;
}

.searchTexts > div:first-child {
  margin-bottom: var(--p-space-4);
}

.actions {
  display: flex;
  margin-left: 0;
  margin-top: var(--p-space-4);
}

.notFound {
  background: #f7d2d2;
  padding: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .searchTexts {
    flex-direction: row;
    margin-bottom: 0;
  }

  .searchTexts > div:first-child {
    margin-bottom: 0;
    margin-right: var(--p-space-4);
  }

  .actions {
    display: flex;
    margin-left: var(--p-space-4);
    margin-top: 0;
  }
}
